.login-container {
  border: solid 1px black;
  background-color: white;
  border-radius: 15px;
  margin: 10%;
  padding: 2em 5em;
  max-width: 90vw; /* Responsive max-width to handle smaller screens */
  width: 100%; /* Allow it to fill the parent width */
  font-size: large;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 1.8em;
  letter-spacing: 1%;
  color: #0f59ad;
}

.login-input {
  margin: 1em;
  padding: 4%;
}

.login-button {
  background-color: #458de0;
  color: white;
}

.login-button:hover {
  background-color: #f4a16e;
  color: black;
}
